.overviewContainer {
    background: rgba(30, 96, 145, 0.95);
    color: rgb(255, 255, 255);
    
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    
    min-width: 300px;
    max-width: 500px;
}

.title {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 10px 0;
}

.section{
    margin: 20px 0;
}

.sectionTitle {
    margin-top: 30px;
    font-weight: 700;
    /* text-align: center; */
}

.sectionContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.contentItem {
    display: block !important;
    margin-right: 10px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255);
    opacity: 0.9;
}

.contentItem:not(:last-child)::after {
    content: ', ';
}