* {
    font-family: 'Roboto', sans-serif;
}

html, body, #app, #app>div {
    height: 100%;
    /* overflow: auto; */
}

body { 
    background: #f1f3f6;
}

.flexRow {
    display: flex;
}

.sb {
    justify-content: space-between;
}